/* App.css */

body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.dropdown-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-size: 25;
}

.dropdown-group {
  width: 45%;
}

.dropdown-wrapper {
  margin-bottom: 10px;
}

.dropdown-wrapper label {
  display: block;
  margin-bottom: 5px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0%;
}
.bancontent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0%;
}

.bancardleft {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border: 3px solid #000000;
  display: flex;
  align-items: left;
  justify-content: left;
  color: white;
  margin-right: 20px;
}
.bancardright {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border: 3px solid #000000;
  display: flex;
  align-items: right;
  justify-content: right;
  color: white;
  margin-left: 20px;
}
.columnbanleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; /* Align to the top */
  flex: 1;
  flex-wrap: wrap;
  margin-right: 0%; /* Space to the right of the left column */
  margin-left: 1.1%;  /* Space to the left of the left column */
}

.columnbanright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; /* Align to the bottom */
  flex: 1;
  flex-wrap: wrap;
  margin-left: 20%; /* Space to the left of the right column */
  margin-right: 1.1%; /* Space to the right of the right column */
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap; /* Ensures the cards wrap if they don't fit in one row */
}

.card {
  width: 150px;
  height: 240px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  border: 3px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Adjust text color for contrast */
  position: relative;
  margin: 5px;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.card h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5); /* Optional: background for better text visibility */
  border-radius: 5px;
  
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 0px; /* Give the middle container a fixed width */
}

.middle-square {
  width: 190px;
  height: 240px;
  background-color: gray;
}
.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Optional styling */
}
.reset-button:hover {
  background-color: #d32f2f;
}
.gold-blink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fdc40bb7, #fdc40bb7);
  animation: blinkGold 1.5s infinite linear;
  z-index: 1; /* Ensure it is above the image */
}

@keyframes blinkGold {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

